@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}




body{
    background-color: #7EA5F2;
}

.login-container{
    padding: 1em;
    margin:0.5em;
    padding-top: 1em;
    border: 1px solid white;
    background-color: white;
    border-radius: 1em;
    margin:1em ;


}

.login-container .main-head{
    padding: 0.5em;
    margin: 0.5em;
}

.login-container .heading{
    padding: 0.2em;
    margin:0.2em;
}

.login-container .heading h1{
    font-size: 1.9em;
    font-weight: 700;
}

.login-container .heading h2{
    font-size: 1em;
    font-weight: 500;
}

.button-container{
    padding: 0.4em;
    margin:0.2em;
    padding-bottom:2em ;
    border-bottom: 2px solid whitesmoke;
    display: grid;
}

.button-container button{
    margin-top: 0.4em;
    border-radius: 2em;
    background-color: white;
    border: 2px solid whitesmoke;
}

.details-container{
    padding: 0.2em;
    margin-top: 2em;
}

.details-container form{
    display: grid;
}

.details-container form label{
    padding: 0.2em;
    margin: 0.2em;
    font-size: 1.2em;
    font-weight: 500;
}

.details-container form input{
    padding: 0.4em;
    margin: 0.4em;
    border-radius: 0.7em;
    font-size: 1em;
    vertical-align: middle;
    border: 2px solid whitesmoke;
}

.details-container form .details-footer{
    display:flex;
    align-items: center;
}

.details-container form .details-footer input{
    margin-left: 0.6em;

}

.details-container form .details-footer label{
    font-size: 1em;
    margin-right: 2.3em;
}

.details-container form .details-footer a{
    font-size: 1em;
    text-decoration: none;
    margin-left: 1em;
    font-size: 1em;
}

.details-container button{
    margin-top: 2em;
    border-radius: 1em;
}

.login-container .login-footer {
    padding-top: 1em;
    padding-left: 0.4em;
    display:flex;
}

.login-container .login-footer label {
   font-size: 0.9em;
   margin-right: 1em;
   font-weight: 500;
}

.login-container .login-footer a {
    font-size: 0.9em;
    margin-right: 1em;
    font-weight: 500;
    color:rgb(6, 6, 190);
 }

.login-container img{
    display: none;
}




.login-container .image-upload button{
    display: flex;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-left: 0.7em;
}

 @media screen and (min-width: 480px) {
    *{
        padding: 0;
        margin: 0;
    }

    body{
        background-color: #d4d5f7;
    }
    .login-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #d4d5f7;
        border: none;
        margin: 10em;
        margin-left: 15em;
        margin-right: 15em;
    }
    
    .login-container .main-head{
        border: 1px solid white;
        padding: 2em;
        padding-bottom: 4em;
        margin: 0px;
        width: 45%;
        padding-left: 3em;
        background-color: white;
    }


    .login-container .image-container{
        border: 1px solid white;
        background-color: #7EA5F2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .login-container img{
        width: 30em;
        display: flex;
        margin: 1em;

    }
   
}